body {
    font-family: Arial, sans-serif;
    background-color: #b1a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ccc;
  }
  
  .calculator {
    background-color: #cec3c3;
    border: 1px solid #352e2e;
    color:#352e2e;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
  }
  .h1{
    color:black
  }
  
  .display {
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 1px solid #403838;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .btn {
    font-size: 18px;
    padding: 10px;
    flex: 1;
    margin-right: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .operator {
    background-color: #f5c542;
  }
  
  .btn:hover {
    background-color: #e5d5d5;
  }
  